rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(data) {
      return request.auth != null && request.auth.uid == data.uid;
    }

    function isProjectPublic(projectId) {
      return exists(/databases/$(database)/documents/projects/$(projectId))
        && get(/databases/$(database)/documents/projects/$(projectId)).data.isPublic == true;
    }

    match /projects/{id} {
      allow get: if resource.data.isPublic == true || isOwner(resource.data);
      allow list: if request.auth != null && request.auth.uid == resource.data.uid;
      allow write: if request.auth != null && (resource == null || request.auth.uid == resource.data.uid);
    }

    match /workEntries/{id} {
      allow read: if isOwner(resource.data) || isProjectPublic(resource.data.projectId);
      allow write: if request.auth != null && (resource == null || request.auth.uid == resource.data.uid);
    }

    match /materials/{id} {
      allow read: if isOwner(resource.data) || isProjectPublic(resource.data.projectId);
      allow write: if request.auth != null && (resource == null || request.auth.uid == resource.data.uid);
    }
  }
}
